[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "oneTBB"]
	path = oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "hffix"]
	path = hffix
	url = https://github.com/jamesdbrock/hffix.git
